
.DS_Store
.Rhistory
BIS15W2021_otaylor/
Untitled.html
Untitled.html
Untitled.html
.Rproj.user
dummy_push.html
dummy_push.html
dummy_push.html
dummy_push.html
dummy_push.html
lab1/dummy_push.Rmd
dummy_push.html
lab1/lab1_1.Rmd
lab1/lab1_2.Rmd
lab1/lab1_hw.html
lab1/lab1_hw.Rmd
wowok.md
Untitled.html
lab2/lab2_2.Rmd
Untitled.html
lab2/lab2_2.html
lab2/lab2_1.Rmd
lab2/lab2_1.html
lab2/lab2.Rproj
lab2/.RData
lab1_hw.html
dummy_push.html
